<a href="https://colab.research.google.com/github/mouali-web/MPM_200_ALi/blob/main/Session%209/database_management_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# pip install pandas

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('/content/covid-tracking-data-master_COVID_Tracking_Project_2020_08_07_daily.csv')

In [17]:
df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,268851,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,749416,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,551523,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,1004845,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN

In [19]:
df.head(10)

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,268851,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,749416,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,551523,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1396,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,1004845,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN
5,20200807,CA,538416.0,8058466.0,NaN,7277.0,NaN,1978.0,NaN,NaN,...,8596882,142,0,de76be81f6dc15ca6c65b81d94e2c5e34e4489df,0,0,0,0,0,NaN
6,20200807,CO,49436.0,521927.0,NaN,317.0,6572.0,NaN,NaN,NaN,...,571363,12,36,10231a124c642e2752d95e43996176e48f45bdcc,0,0,0,0,0,NaN
7,20200807,CT,50320.0,814313.0,NaN,65.0,10920.0,NaN,NaN,NaN,...,864633,4,0,61e96bc8714af48a34babab0a5a4751692db93f0,0,0,0,0,0,NaN
8,20200807,DC,12589.0,196136.0,NaN,90.0,NaN,18.0,NaN,12.0,...,208725,2,0,18fff97e4bcf61361699e05dbd0346a9b5e87851,0,0,0,0,0,NaN
9,20200807,DE,15445.0,179339.0,NaN,37.0,NaN,15.0,NaN,NaN,...,194784,1,0,0bfbdc5f6a8c68ecbc57bff1415d8cc344ca6cea,0,0,0,0,0,NaN

In [20]:
df.columns.tolist()

['date',
 'state',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade']

In [24]:
df.columns.to_list()

['date',
 'state',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade']

In [38]:
df.dtypes

date                          int64
state                        object
positive                    float64
negative                    float64
pending                     float64
hospitalizedCurrently       float64
hospitalizedCumulative      float64
inIcuCurrently              float64
inIcuCumulative             float64
onVentilatorCurrently       float64
onVentilatorCumulative      float64
recovered                   float64
dataQualityGrade             object
lastUpdateEt                 object
dateModified                 object
checkTimeEt                  object
death                       float64
hospitalized                float64
dateChecked                  object
totalTestsViral             float64
positiveTestsViral          float64
negativeTestsViral          float64
positiveCasesViral          float64
deathConfirmed              float64
deathProbable               float64
fips                          int64
positiveIncrease              int64
negativeIncrease              int64
total                         int64
totalTestResults              int64
totalTestResultsIncrease      int64
posNeg                        int64
deathIncrease                 int64
hospitalizedIncrease          int64
hash                         object
commercialScore               int64
negativeRegularScore          int64
negativeScore                 int64
positiveScore                 int64
score                         int64
grade                       float64
PrimaryKey                   object
dtype: object

In [9]:
CA = df[df.state == 'CA']

In [10]:
CA

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
5,20200807,CA,538416.0,8058466.0,NaN,7277.0,NaN,1978.0,NaN,NaN,...,8596882,142,0,de76be81f6dc15ca6c65b81d94e2c5e34e4489df,0,0,0,0,0,NaN
61,20200806,CA,529980.0,7970483.0,NaN,7485.0,NaN,2026.0,NaN,NaN,...,8500463,166,0,04d0f37534059d04347fd2c84c1183d80fe86371,0,0,0,0,0,NaN
117,20200805,CA,524722.0,7884678.0,NaN,7552.0,NaN,2005.0,NaN,NaN,...,8409400,202,0,c877f9c8b267330bc105adeffdf3dce664b3ba94,0,0,0,0,0,NaN
173,20200804,CA,519427.0,7786286.0,NaN,7630.0,NaN,2082.0,NaN,NaN,...,8305713,113,0,90e3e08ccbd077a1dd09f6322366feedef7d2356,0,0,0,0,0,NaN
229,20200803,CA,514901.0,7669795.0,NaN,7629.0,NaN,2069.0,NaN,NaN,...,8184696,32,0,3e13c19ce424ee3a196c2af8c24fa9df6cedf226,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8478,20200308,CA,88.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,550,0,0,841788a5ae11d1cb868b7d1a0b5dafbc665ba169,0,0,0,0,0,NaN
8528,20200307,CA,69.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,531,0,0,97d60a21e9065f4c8044c990091051b3f0c5a49c,0,0,0,0,0,NaN
8577,20200306,CA,60.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,522,0,0,662f66bd8d1c194ce87d7404753a9b83515d2695,0,0,0,0,0,NaN
8611,20200305,CA,53.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,515,0,0,8ee918675d3f2f0f6b94dee19267e2be366999ff,0,0,0,0,0,NaN
8635,20200304,CA,53.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,...,515,0,0,5a4090a5d0f48c63008d34430a1845a383bebc1f,0,0,0,0,0,NaN

In [11]:
CA[["total", "totalTestResults", "totalTestResultsIncrease", "positiveIncrease", 'positive']]

,total,totalTestResults,totalTestResultsIncrease,positiveIncrease,positive
5,8596882,8596882,96419,8436,538416.0
61,8500463,8500463,91063,5258,529980.0
117,8409400,8409400,103687,5295,524722.0
173,8305713,8305713,121017,4526,519427.0
229,8184696,8184696,148721,5739,514901.0
...,...,...,...,...,...
8478,550,550,19,19,88.0
8528,531,531,9,9,69.0
8577,522,522,7,7,60.0
8611,515,515,0,0,53.0
8635,515,515,0,0,53.0

In [12]:
CA.positiveIncrease.sum()

np.int64(538363)

In [40]:
CA.positiveIncrease.median()

2140.0

In [41]:
CA.positiveIncrease.describe()

count      157.000000
mean      3429.063694
std       3186.729975
min          0.000000
25%       1179.000000
50%       2140.000000
75%       5349.000000
max      12807.000000
Name: positiveIncrease, dtype: float64

In [42]:
CA.describe()

,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
count,1.570000e+02,157.000000,1.570000e+02,28.000000,134.000000,0.0,134.000000,0.0,0.0,0.0,...,157.000000,1.570000e+02,157.000000,157.0,157.0,157.0,157.0,157.0,157.0,0.0
mean,2.020053e+07,145420.847134,2.266188e+06,29110.714286,5340.656716,NaN,1527.000000,NaN,NaN,NaN,...,54753.929936,2.411608e+06,63.764331,0.0,0.0,0.0,0.0,0.0,0.0,NaN
std,1.495979e+02,156042.275399,2.417328e+06,22975.193374,1936.099700,NaN,422.260423,NaN,NaN,NaN,...,46238.152557,2.572751e+06,46.394924,0.0,0.0,0.0,0.0,0.0,0.0,NaN
min,2.020030e+07,53.000000,4.620000e+02,7200.000000,746.000000,NaN,200.000000,NaN,NaN,NaN,...,0.000000,5.150000e+02,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
25%,2.020041e+07,21794.000000,1.685340e+05,13200.000000,4459.000000,NaN,1313.000000,NaN,NaN,NaN,...,9600.000000,1.903280e+05,27.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
50%,2.020052e+07,86197.000000,1.334930e+06,14100.000000,4732.500000,NaN,1427.000000,NaN,NaN,NaN,...,48533.000000,1.421127e+06,63.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
75%,2.020063e+07,219252.000000,3.842440e+06,57400.000000,7134.750000,NaN,1927.250000,NaN,NaN,NaN,...,92430.000000,4.061692e+06,92.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN
max,2.020081e+07,538416.000000,8.058466e+06,64400.000000,8820.000000,NaN,2284.000000,NaN,NaN,NaN,...,177201.000000,8.596882e+06,219.000000,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [43]:
df.groupby("state").agg({"positiveIncrease":'sum'})

       positiveIncrease
state
AK                 4288
AL                98301
AR                48039
AS                    0
AZ               185051
CA               538363
CO                49436
CT                50320
DC                12589
DE                15445
FL               518073
GA               209002
GU                  408
HI                 2913
IA                47865
ID                23399
IL               191804
IN                72253
KS                30638
KY                33796
LA               128746
MA               120283
MD                93806
ME                 4014
MI                95461
MN                59184
MO                57379
MP                   47
MS                65436
MT                 4757
NC               132811
ND                 7327
NE                27821
NH                 6740
NJ               184060
NM                21773
NV                54532
NY               419636
OH                98675
OK                42254
OR                20633
PA               117277
PR                20681
RI                19736
SC                98219
SD                 9371
TN               118781
TX               474523
UT                43374
VA                97882
VI                  521
VT                 1448
WA                60915
WI                63027
WV                 7433
WY                 3000

In [44]:
df.groupby('state').agg({'positiveIncrease':'sum','totalTestResultsIncrease':'mean'})

       positiveIncrease  totalTestResultsIncrease
state
AK                 4288               1734.470968
AL                98301               4866.337662
AR                48039               3558.174194
AS                    0                  9.627586
AZ               185051               6400.101911
CA               538363              54753.929936
CO                49436               3662.461538
CT                50320               5614.500000
DC                12589               1337.942308
DE                15445               1256.606452
FL               518073              24821.101911
GA               209002              11166.414013
GU                  408                167.834483
HI                 2913                878.461039
IA                47865               3281.838710
ID                23399               1290.084416
IL               191804              19017.770701
IN                72253               5271.632258
KS                30638               2041.987097
KY                33796               4141.851613
LA               128746               9772.740260
MA               120283               8631.187919
MD                93806               6453.891026
ME                 4014               1192.993506
MI                95461              12728.662500
MN                59184               5872.477419
MO                57379               4887.922078
MP                   47                 84.834483
MS                65436               3163.714286
MT                 4757               1219.123377
NC               132811              12355.484076
ND                 7327               1075.980519
NE                27821               1883.878205
NH                 6740               1072.949045
NJ               184060              14440.967949
NM                21773               3899.135484
NV                54532               3249.891026
NY               419636              40566.375796
OH                98675              10404.410256
OK                42254               4453.337662
OR                20633               2787.649682
PA               117277               8496.109677
PR                20681               2252.717241
RI                19736               1362.306250
SC                98219               4891.439490
SD                 9371                770.922078
TN               118781              10654.044872
TX               474523              25481.089172
UT                43374               3630.512987
VA                97882               7748.250000
VI                  521                 72.400000
VT                 1448                651.367742
WA                60915               5080.512563
WI                63027               6611.184713
WV                 7433               2017.264516
WY                 3000                367.694805

In [47]:
#filtering for one row df[0:1]

In [50]:
df[50:60]

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,PrimaryKey
50,20200807,VI,522.0,9977.0,21.0,NaN,NaN,NaN,NaN,NaN,...,0,0,7e94a8c3a4b12bafc641fb24585efa56293188dc,0,0,0,0,0,NaN,NaN
51,20200807,VT,1448.0,99514.0,NaN,6.0,NaN,NaN,NaN,NaN,...,0,0,d39aebec1b864ebda61c97b4cb3e60fa6ee637f5,0,0,0,0,0,NaN,Vermont
52,20200807,WA,60917.0,950107.0,NaN,405.0,5874.0,NaN,NaN,50.0,...,29,34,042438e98001ec06fcc86164ba91b84e63325d5f,0,0,0,0,0,NaN,Washington
53,20200807,WI,63028.0,974948.0,118.0,296.0,4930.0,101.0,931.0,NaN,...,12,49,030071e9a3b76eb98eb39eecd01842d3104d3ce1,0,0,0,0,0,NaN,Wisconsin
54,20200807,WV,7433.0,305244.0,NaN,122.0,NaN,46.0,NaN,14.0,...,3,0,1782a5197f4344019c1b9b151569f61738913c3c,0,0,0,0,0,NaN,West Virginia
55,20200807,WY,3000.0,53625.0,NaN,17.0,176.0,NaN,NaN,NaN,...,1,5,90ce43445b7828ef42d7cee0f97ca258e0c38b50,0,0,0,0,0,NaN,Wyoming
56,20200806,AK,4223.0,257349.0,NaN,42.0,NaN,NaN,NaN,2.0,...,0,0,cb6042a57c94293675b4f8b2a02af69d8012d91f,0,0,0,0,0,NaN,Alaska
57,20200806,AL,96592.0,643192.0,NaN,1575.0,11313.0,NaN,1211.0,NaN,...,19,213,27774ad0a8fd9899b54fb5d577b1b778d3d5004f,0,0,0,0,0,NaN,Alabama
58,20200806,AR,47028.0,492808.0,NaN,514.0,3118.0,NaN,NaN,111.0,...,7,0,1188e9bb4b25b98410580729c252181b8d1f4dfc,0,0,0,0,0,NaN,Arkansas
59,20200806,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,5c33616b07ca7687fdea8c9ea6a110cb6abea724,0,0,0,0,0,NaN,American Samoa

## Population of states

In [51]:
# Merging data together

In [25]:
states = pd.read_excel("/content/NST-EST2023-POP.xlsx")

In [52]:
states.head()

           state    current       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [56]:
#renaming the columns

In [54]:
states.columns = ['state', 'current', '2020', '2021', '2022', '2023']
states.head()

           state    current       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [27]:
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 '.Alabama',
 '.Alaska',
 '.Arizona',
 '.Arkansas',
 '.California',
 '.Colorado',
 '.Connecticut',
 '.Delaware',
 '.District of Columbia',
 '.Florida',
 '.Georgia',
 '.Hawaii',
 '.Idaho',
 '.Illinois',
 '.Indiana',
 '.Iowa',
 '.Kansas',
 '.Kentucky',
 '.Louisiana',
 '.Maine',
 '.Maryland',
 '.Massachusetts',
 '.Michigan',
 '.Minnesota',
 '.Mississippi',
 '.Missouri',
 '.Montana',
 '.Nebraska',
 '.Nevada',
 '.New Hampshire',
 '.New Jersey',
 '.New Mexico',
 '.New York',
 '.North Carolina',
 '.North Dakota',
 '.Ohio',
 '.Oklahoma',
 '.Oregon',
 '.Pennsylvania',
 '.Rhode Island',
 '.South Carolina',
 '.South Dakota',
 '.Tennessee',
 '.Texas',
 '.Utah',
 '.Vermont',
 '.Virginia',
 '.Washington',
 '.West Virginia',
 '.Wisconsin',
 '.Wyoming']

In [57]:
#cleaning the data-removing the dots before the name of the states from the above

In [28]:
states['state'] = states['state'].map(lambda x: x.lstrip('.'))
states.state.unique().tolist()

['United States',
 'Northeast',
 'Midwest',
 'South',
 'West',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [58]:
#converting the names of the states into abbriveation

In [59]:
abbr_to_state = {
    "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas",
    "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware",
    "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
    "IL": "Illinois", "IN": "Indiana", "IA": "Iowa", "KS": "Kansas",
    "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine", "MD": "Maryland",
    "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi",
    "MO": "Missouri", "MT": "Montana", "NE": "Nebraska", "NV": "Nevada",
    "NH": "New Hampshire", "NJ": "New Jersey", "NM": "New Mexico", "NY": "New York",
    "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio", "OK": "Oklahoma",
    "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina",
    "SD": "South Dakota", "TN": "Tennessee", "TX": "Texas", "UT": "Utah",
    "VT": "Vermont", "VA": "Virginia", "WA": "Washington", "WV": "West Virginia",
    "WI": "Wisconsin", "WY": "Wyoming", "AS": "American Samoa"
}

In [60]:
#the merging step using primary keys

In [30]:
df['PrimaryKey'] = df['state'].map(abbr_to_state)

In [31]:
df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,PrimaryKey
0,20200807,AK,4288.0,264563.0,NaN,37.0,NaN,NaN,NaN,3.0,...,0,0,d608cee3e98d23a9e920faab4361b771c779880f,0,0,0,0,0,NaN,Alaska
1,20200807,AL,98301.0,651115.0,NaN,1575.0,11537.0,NaN,1219.0,NaN,...,21,224,b180d67ecb2784ceaaaf7fef67dcee5833fadd52,0,0,0,0,0,NaN,Alabama
2,20200807,AR,48039.0,503484.0,NaN,514.0,3168.0,NaN,NaN,111.0,...,6,50,1e9a8ed04dc081a895e26f03a10711ce88d78be2,0,0,0,0,0,NaN,Arkansas
3,20200807,AS,0.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,9395052fa25b89c3561068bed6cc6c425623bb9c,0,0,0,0,0,NaN,American Samoa
4,20200807,AZ,185053.0,819792.0,NaN,1772.0,19241.0,565.0,NaN,411.0,...,79,5173,73a278d71ae7e87e4e634538a146339f015d5531,0,0,0,0,0,NaN,Arizona

In [63]:
#looking for the data shape

In [61]:
df.shape

(8697, 42)

In [62]:
states.shape

(56, 6)

In [64]:
states.head()

           state    current       2020       2021       2022       2023
0  United States  331464948  331526933  332048977  333271411  334914895
1      Northeast   57614141   57430477   57243423   57026847   56983517
2        Midwest   68987296   68969794   68850246   68783028   68909283
3          South  126268529  126465281  127353282  128702030  130125290
4           West   78594982   78661381   78602026   78759506   78896805

In [66]:
#first merge decide which data frame on the right and which one on the left

In [65]:
first_merge = pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'left')

In [67]:
first_merge.shape

(8697, 48)

In [70]:
#to review the new columns after merge

In [69]:
first_merge.columns.tolist()

['date',
 'state_x',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade',
 'PrimaryKey',
 'state_y',
 'current',
 '2020',
 '2021',
 '2022',
 '2023']

In [72]:
outermerge= pd.merge(df, states, left_on='PrimaryKey', right_on='state', how = 'outer')

In [74]:
outermerge.shape

(8703, 48)

In [80]:
outermerge[outermerge.PrimaryKey.isna()]

,date,state_x,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,positiveScore,score,grade,PrimaryKey,state_y,current,2020,2021,2022,2023
1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,District of Columbia,689548.0,670839.0,669037.0,670949.0,678972.0
3561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Midwest,68987296.0,68969794.0,68850246.0,68783028.0,68909283.0
5427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Northeast,57614141.0,57430477.0,57243423.0,57026847.0,56983517.0
6210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,South,126268529.0,126465281.0,127353282.0,128702030.0,130125290.0
6835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,United States,331464948.0,331526933.0,332048977.0,333271411.0,334914895.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,20200309.0,DC,1.0,14.0,3.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,20200308.0,DC,1.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,20200307.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,20200306.0,DC,0.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,20200305.0,DC,0.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
#merge columns even if no relation between data

In [36]:
pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys: 'Iterable[Hashable] | None' = None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'>